<!DOCTYPE html>
<html>
    <head>
        <title>
            Network Intrusion Prediction
        </title>
        <style>
            body {
              background-image: url(https://iinfosec.com/graphics/network-intrusion-detection_201078825.jpg);
            }
            </style>
    </head>
    <body>
        <div class="Header" style="text-align: center;">
        <h1 style="color:white;">Major Project</h1>
        <h2 style="color:white;"> Network Intrusion Detection</h2>
        <button onclick="location.href='{% url 'script' %}'">Click Here to Run</button>
    </div>
    </body>
</html>